{% extends 'base.html.twig' %}

{% block title %}Nos produits{% endblock %}


 {% block body %}
<div class="container" style="padding-top: 5em;">
    <div class="col-xs1 col-sm4">
        {% include "product/_content.html.twig"  %}
      </div>
      {{knp_pagination_render(products)}}
    </div>
  {# html code pour Starbuck  #}
  {# <div class="content">
    <div class="textBox">
      <h2>It's not just a Coffe<br>it's <span>Starbucks</span></h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta asperiores voluptatibus explicabo consequatur ea, eligendi vel aliquid odio minima totam hic inventore temporibus est, nihil enim. Ea, similique quisquam maiores temporibus tempore dignissimos animi accusantium libero doloremque consequuntur porro modi impedit nam maxime possimus eligendi nihil. Possimus corrupti doloremque ipsa!</p>
      <a href="#">Learn More</a>
    </div>
    <div class="imgBox">
      <img src="img1.jpg" class="starbucks">
    </div>
  </div>
  <ul class="thumb">
    <li><img src="thumb1.png" onclick="imgSlider('img1.png');changeCircleColor('#017143')"></li>
    <li><img src="thumb2.png" onclick="imgSlider('img2.png');changeCircleColor('#eb7495')"></li>
    <li><img src="thumb3.png"onclick="imgSlider('img3.png');changeCircleColor('#d75')"></li>
  </ul>
  <ul class="sci">
    <li><a href="#"><img src="facebook.png"></a></li>
    <li><a href="#"><img src="twitter.png"></a></li>
    <li><a href="#"><img src="instagram.png"></a></li>
  </ul> #}
{% endblock %}  